/* styles-6 variables */
$theme-color: #2298c0;
$text-color: #3a3a3a;
$text-color-secondary: #646464;
$text-grey: #7fa6b3;
$divider: #75bff7;
$lighter-grey: #000;
$darker-grey: #515151;
$smoky-white: #121212;
$heart: #ffffff;
$accent-color: #46b4f3;
