/* styles-6 variables */
$theme-color: #422378;
$text-color: #c3bfc6;
$text-color-secondary: #8b8b8b;
$text-grey: #967fb3;
$divider: #a875f7;
$lighter-grey: #000;
$darker-grey: #666;
$smoky-white: #121212;
$heart: #1d1625;
$accent-color: #8346f3;
